# Directories
node_modules/

# Logs
logs
*.log

# Dependency files
package-lock.json
npm-debug.log*
yarn-debug.log*
yarn-error.log*
.pnpm-lock.yaml

# Build files
build/
dist/
out/

# Environment variables
.env
.env.local
.env.development.local
.env.test.local
.env.production.local

# Coverage output
coverage/

# macOS
.DS_Store

# Editor configuration
.idea/
.vscode/
*.swp
*.swo

notes-api-web-server.pem
.prod.env
src/api/uploads/file